<h1>Edit <%= link_to @isOrg ? @person.last_name : @person.first_name + " " + @person.last_name , @person %></h1>

<%= render "form", person: @person %>
<%= button_to "Delete", @person, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<%= link_to "Cancel", @person %>
