<h1>Edit Vitals For: <%= link_to @animal.name, @animal %></h1>

<%= render "form", animal_vital: @animal_vital %>
<%= button_to "Delete", @animal_vital, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<%= link_to "Cancel", @animal %>
